build/*
.idea/*


# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/build/


# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class
*/*38.pyc
src/__pycache__/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
